{% extends 'base.html' %}
{% load static %}

{% block style %}

<style>
  body{ 
  background: #654ea3;
  background: linear-gradient(to right, #e96443,#904e95);
}
  .title{
  color: rgb(5, 20, 39);
  font-family: 'Roboto Slab', serif;
}

.post{

width:45%

}
@media screen and (max-width: 1000px) {
  .post{
     
     width:100%
   }
}
</style>


{% endblock %}
{% block content %}
<br>
 <div class="post container">

  {% for post in object_list %}
      
  
  <div class="card p-3 m-2">
   

<div class="container" >

  
      <div class="profile" >
        <div class="container d-flex justify-content-between">
           
          <div class="row box1" style="width:300px; height:60px">
            <div class="col-3">

               {% if  post.author.profile_pic %}
                    <img src="{{ post.author.profile_pic.url }}"  class="img-fluid img-centered rounded-circle" alt="">

              {% else %}
                    <img src="{% static 'images/alien.png' %}"  class="img-fluid img-centered rounded-circle" alt="">
               {% endif %}

            </div>
            <div class="col pt-0">
                 <p><b>{{post.author.user.first_name}} {{post.author.user.last_name}}</b> <br>
                <span class="text-muted"> {{post.post_date}},</span></p>   
            </div>
          </div>   
        
              
        </div>
     
      
    </div>
</div>
<div class="card">
  <h1 class="title p-2">
    {{post.title}}
  </h1>

  {% if post.header_image %}
  <img src="{{post.header_image.url}}" alt="..." height="40%">
 
  {% endif %}
  <div class="card-body">
    <h5 class="card-title">{{post.title}}</h5>
    <p class="card-text"> {{post.body|safe|slice:"60" }}

    <a href="{% url 'details' post.pk  %}" class="btn btn-light mt-3">
      <i class="bi bi-chevron-right"></i>Read More
    </a>
  </p>
  </div>
</div>
   
    
   
  </div>
  {% endfor %}
  
 </div>
{% endblock %}

