{% extends 'base.html' %}
{% load static %}
{% block title %}
ShortBlogs
{% endblock %}
{% block style %}
 <style>

        @import url('https://fonts.googleapis.com/css2?family=Sacramento&display=swap');
        .logo {
          font-family: 'Sacramento', cursive;
          font-weight: bold;
        }
       
        .title{
          font-size:60px
        }

   .box{
     width:50%
   }
 </style>
{% endblock %}

{% block content %}
<!--header-->
<section class="bg-dark text-light p-5 p-lg-0 pt-lg-5 text-center text-sm-start">
    <br>
       <div class="container">
         <div class='d-sm-flex align-items-center justify-content-between'>
           <div>

             {% if user.is_authenticated %}
                 {% if user.first_name %}
                    <h1>I am <span class="text-warning">{{user.first_name}} {{user.last_name}}</span></h1>
                 {% else %}
                 <h1>I am <span class="text-warning">{{user|title}}</span></h1>
                 {% endif %}
             {% else %}
                  <h1 class="title logo">Short<span class="text-warning">Blogs</span></h1>
             {% endif %}
             <p class='my-4'>Welcome folks to the new era of Bloging.</p>

             {% if user.is_authenticated %}
             <a href="create" class='btn btn-primary'>Create Post</a>
             {% else %}
              <a href="{% url 'signup'  %}" class='btn btn-outline-warning '>GET STARTED</a>
              <a href="{% url 'login'  %}" class='btn btn-outline-light '>LOG IN</a>
             {% endif %}

           </div>
           <img class='img-fluid w-50 d-none d-sm-block' src="{% static 'images/img.svg' %}" alt="">
         </div>
       </div>

     </section>

     <section class="p-3" id="why">
      <div class="container">
        <div class="row  d-flex align-items-center justify-content-between">
          <div class="col-md p-3 text-center">
            <img src="{% static 'images/short.svg' %}" class="img-fluid" alt="" style="max-width:60%">


            </div>

          <div class="col-md p-3 text-center">

            <h1>Why ShortBlogs ?</h1>
            <p>
              Looking for some free blog sites to help you start
              sharing your writing with the world? Whether you just want
                to share updates with your family and friends or
                you want to start a blog and build a broader audience, then <b>ShortBlogs</b>  is what you are looking for.

            </p>
          </div>
        </div>
      </div>
    </section>







<!--Newsletter-->

  <footer class="p-5 bg-dark text-white text-center position-relative">
    <div class="container">
      <p class="lead">Copyright &copy;2021 ShortBlogs</p>
      <a href="#" class="poition-absolute bottom-0 end-0 p-5">
        <i class="bi bi-arrow-up-circle h1 text-white"></i>
      </a>
    </div>
  </footer>
{% endblock %}