{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}
Create a new post
{% endblock %}
{% block style %}
<style>
     body{ 
        background: #654ea3;
        background: linear-gradient(to right, #e96443,#904e95);
       }
</style>
{% endblock %}
{% block content %}
<br>
<br>
<br>
<div class="container">
    <div class="card p-3">
        <h1 class="text-center card-title">Update Post</h1>

        <form action="" method="post" class="p-3" enctype="multipart/form-data">
            {% csrf_token %}
            {{form.media}}
            {{form|crispy}}
            <br>
            <input type="submit" value="Update" class="btn btn-primary">
            <a href="{% url 'home'  %}" class="btn btn-dark">Cancel</a>

        </form>

    </div>
</div>
<script>

    var name = "{{ user.id }}";
    document.getElementById('username').value=name;

</script>
{% endblock %}